.active {
  height: 3.3rem;
  width: 12rem;
  background-color: rgb(108, 108, 230);
  border-radius: 3px 3px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  border: none;
  padding: 3px;
}

.nonActive {
  background-color: silver;
  color: #fff;
  padding: 3px;
  border-radius: 8px;
}

.check {
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  height: auto;
}

tr:nth-child(even) {
  background-color: #f3f1f1;
}
